header
  h1.logo Utkarsh Bhimte

  nav
    ul
      li: a(href="#thingsIdo") Things I do
      li: a(href="#thingsIknow") Things I know
      li: a(href="#thingsIhavecoded") Things I have coded
      li: a(href="mailto:utkarshbhimte95@gmail.com") +utkarshbhimte      
