.skill-set
  .container
    h1 Things I know
    
    .skill-lockup
    
      .skill
        h3 HTML
        .skill-back
          .skill-fill
          
      .skill
        h3 CSS
        .skill-back
          .skill-fill
          
      .skill
        h3 JS
        .skill-back
        
          .skill-fill
      .skill
        h3 jQuery
        .skill-back
          .skill-fill
